public/
.vscode/spellright.dict
content/.obsidian
/static/images/2024/04/bins-v2-black.png
/static/images/2024/04/bins-v2-green.png
/static/images/2024/04/danhon-teams.png
/static/images/2024/04/pagescms-editor.png
/static/images/2024/04/bins-v1.png
/content/blog/2024/04/Teams is still terrible.md
config.toml
