{% extends "base.html" %}

{# This template is used for each blog post #}

{% block content %}

  <article class="h-entry">
    <div class="post-title">
      <h1 class="p-name">{{ page.title }}</h1>
      <span>
        {% if page.date %}{{ page.date | date(format="%d %B, %Y") }}{% endif %}
      </span>
    </div>
    {{ page.content | safe }}
  </article>

  {% if page.taxonomies.tags %}
    <section id="tags">
      <p>
      See other posts tagged with
      <span class="tags">
        {% for tag in page.taxonomies.tags %}
          {% set term = get_taxonomy_term(kind="tags", term=tag) %}
          <a href="/blog/tags/{{ term.slug }}/">{{ tag }}</a>
        {% endfor %}
      </span>
      {% if page.date %}
      and all posts made in <a href="/blog/{{ page.date | date(format="%Y") }}/{{ page.date | date(format="%m") }}">{{ page.date | date(format="%B %Y") }}</a>.
      {% endif %}
      </p>
    </section>
  {% endif %}

  {% if page.extra.show_comments and page.extra.comments_file and page.extra.show_comments == "true" %}
    {% set comments = load_data(path=page.extra.comments_file) %}
    {% if comments %}
      <section id="comments">
        <h3>Comments</h2>
          {% for comment in comments['records'] %}
            <article>
              <div class="comment-author">{{ comment[2] | safe }}</div>
              <div class="comment-date">{{ comment[1] | date(format="%d %B, %Y at %H:%M") }}</div>
              {{ comment[7] | markdown | safe }}
            </article>
          {% endfor %}
      </section>
    {% endif %}
  {% endif %}

{% endblock content %}

