{% macro post_preview(post) %}
<article class="post">
  <div class="post-preview">
    <h3 class="post-title"><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
    <span>
      {{ post.date| date(format="%d %B, %Y") }} - {{ post.word_count }} words
    </span>
    <div class="summary">
      {% if post.summary -%}
        {{ post.summary }}
      {% else %}
        {# the </p> ensures that we close an open tag if it gets truncated in the middle, and then the whole thing is stripped #}
        {{ post.content | truncate(length=400, end="...</p>") | striptags | safe }}
      {%- endif %}
      <p class="read-more"><a href="{{ post.permalink }}">read more</a></p>
    </div>
  </div>
</article>
{% endmacro post_preview %}

{% macro post_preview_short(post) %}
  <div class="post-preview">
    <p class="post-title"><a href="{{ post.permalink }}">{{ post.title }}</a> <span>- {{ post.date| date(format="%d %B, %Y") }}</span></p>
  </div>
{% endmacro post_preview_short %}

{% macro month_number_to_name(month_number) %}
  {% if month_number == "01" %}
    January
  {% elif month_number == "02" %}
    February
  {% elif month_number == "03" %}
    March
  {% elif month_number == "04" %}
    April
  {% elif month_number == "05" %}
    May
  {% elif month_number == "06" %}
    June
  {% elif month_number == "07" %}
    July
  {% elif month_number == "08" %}
    August
  {% elif month_number == "09" %}
    September
  {% elif month_number == "10" %}
    October
  {% elif month_number == "11" %}
    November
  {% elif month_number == "12" %}
    December
  {% else %}
    Unknown
  {% endif %}
{% endmacro month_number_to_name %}
