{% extends "base.html" %}

{% block content %}

{% if section.subsections %}
<h1>{{section.title | date(format="%Y") }}</h1>
{% else %}
<h1>{{section.title | date(format="%B %Y") }}</h1>
<p>Or you can see <a href="/blog/{{ section.title | date(format="%Y") }}">all posts in {{ section.title | date(format="%Y") }}</a></p>
{% endif %}

{% if section.pages %}
  <ol class="pagelist">
  {% for post in section.pages | reverse %}
    <li><a  href="{{ post.permalink }}" >{{ post.title }}</a><br>
      <small>Published on {{ post.date | date(format="%d %B") }} in {% for tag in post.taxonomies.tags %} <a href="/blog/tags/{{ tag }}">{{ tag }}</a>{% endfor %}</li></small>
  {% endfor %}
  </ol>
{% endif %}

{# {% if section.subsections %}
<code>SUBSECTIONS</code>
<ol>
  {% for subsection in section.subsections %}
    {% set this_subsection = get_section(path=subsection, metadata_only=true) %}
    <li><a href="{{ this_subsection.path }}">{{ this_subsection.title | date(format="%B %Y") }}</a></li>
  {% endfor %}
</ol>
{% endif %} #}

{% endblock content %}
