{% extends "base.html" %}
{% import "stats-macros.html" as stats_macros %}

{% block content %}

{% set section = get_section(path="blog/_index.md") %}

<p>I've written {{ section.pages | length }} blog posts, totalling {{ stats_macros::wordcount(pages=section.pages) }} words over about {{ stats_macros::years_of_blogging(pages=section.pages) }} years.</p>

<p>My average blog post takes {{ stats_macros::average_time_to_read(pages=section.pages) }} minutes to read.</p>

<h2>Number of posts published each year</h2>

{% set posts_by_year = section.pages | group_by(attribute="year") %}

{% set max_posts_in_a_year = 0 %}
{% for year, posts in posts_by_year %}
    {% if posts | length > max_posts_in_a_year %}
        {% set_global max_posts_in_a_year = posts | length %}
    {% endif %}
{% endfor %}

<table id="blogstats">
{% for yearname, posts in section.pages | group_by(attribute="year") %}
    {% set postcount = posts | length %}
    {% set percentage = (postcount / max_posts_in_a_year)*100 %}
    <tr><td class="year"><a href="/blog/{{ yearname }}">{{ yearname }}</a></td><td class="postcount"><span style="width: {{ percentage }}%">{{ posts | length }}</span></td></tr>
{% endfor %}
</table>

{% endblock content %}
