{% extends "base.html" %}

{% block title %}
<title>Tags - {{config.title}}</title>
{% endblock title %}

{% block content %}
<h1 class="taxonomy-name">The things I write about the most</h1>
<div class="taxonomy-container">
  {% for term in terms | sort(attribute="pages") | reverse %}
    {% if term.pages | length > 30 %}
      <div class="term">
      <a href="{{ term.permalink }}">{{ term.name }} ({{ term.pages | length }})</a>
      </div>
    {% endif %}
  {% endfor %}
</div>
  <h1 class="taxonomy-name">All {{ terms | length }} {{ taxonomy.name }}</h1>
  <div class="taxonomy-container">
    {% for term in terms %}
      {% if term.pages | length %}
        <div class="term">
        <a href="{{ term.permalink }}">{{ term.name }} ({{ term.pages | length }})</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
