ul.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 10px;

    li {
        list-style-type: none;
        margin-top: 1em;

        img {
            display: block;
            margin: 0;
            border: 0;
        }

        .book-title, .book-author {
            display: block;
        }

        .book-author {
            font-size: 95%;
        }
    }
}